
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
//General
body {
    background-color: rgb(26, 87, 108);
    background-size: cover;
    font-family: "Poppins", sans-serif 500;
}

// Box Shadow
nav{
  box-shadow: 5px 10px #000;
}

// titles
h1,h3{
    text-align: center;
    font-family: "Sixtyfour Convergence", sans-serif;
    margin: 25px
}

// Contenitore dei fumetti
#fumetti{

}


//Immagini Comics
.img_poster{
    width: 250px;
    height: 250px;
}

.img{
    width: 250px;
}

//Focus
.focus{
    color: red;
    margin: 20px;
}

.box{
    background-color: aliceblue;
    border: 3px solid black;
}


// buttons

button{ // Options of Comics
  border: 0.5px solid black;
  width: 30px;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px;
}


.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}


// Css della table

thead tr{
  background-color: lightcoral;
  padding: 10px;
}

tr th{
  padding: 100px;
}

td{ // Dividere le sezioni della tabella;
  border-bottom: 1px solid black; 
}

td img{ // Immagini dei comics nelle caselle;
  border: 3px solid black;
  box-shadow: 15px 15px 2px gray;
}

// Gestione della modalità smarthphone;
@media only screen and (max-width: 600px) {
  table {
    background-color: gray;
    color: #fff;
  }
}


.nav-link:hover{
  color: red;
}